#My First Notebook

In [ ]:
print("Hello World")
name = "Alice"
age = 23
print ("%s is %d years old" % (name, age))

Hello World
Alice is 23 years old

In [ ]:
a = 10
b = a

print(type(a))
print(id(a))

print(type(b))
print(id(b))
print(isinstance(a, bool))

<class 'int'>
10914784
<class 'int'>
10914784
False

In [ ]:
print (3**2) #exponent
print (11//3) #floor division

9
3

In [ ]:
# a list
mylist = [1,2,3,4]
mylist1 = [1,2,3,4]



print(mylist==mylist1) # false

print(mylist is mylist1)

print

True
False

In [ ]:
x1 = 5
y1 = 5

print(id(x1))
print(id(y1))


print(x1==y1) #True
print(x1 is y1)

10914624
10914624
True
True

In [ ]:
x = 10 #0000 1010
y = 4  #0000 0100

print(x & y)
print(x | y)
print(~x)
print(x ^ y)
print(x>>2) #2
print(x<<2) #40

0
14
-11
14
2
40

In [ ]:
marks = int(input("Enter your marks: "))
if marks >= 90:
  print("The grade is " + "A")
elif marks >= 80:
  print("The grade is B")
else:
  print("The grade is C")

Enter your marks: 85
The grade is B

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for x in numbers:
  print (x, " ", x**2, " ", x**3)

1   1   1
2   4   8
3   9   27
4   16   64
5   25   125
6   36   216
7   49   343
8   64   512
9   81   729
10   100   1000

In [ ]:
for x in range(3,5,2):
  print(x)

3